* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #f4f6f8;
  color: #333;
}

nav {
  display: flex;
  gap: 15%;
  align-items: center;
  background-color: rgba(15, 23, 42, 0.595);
  padding: 15px 30px;
}

nav a, nav Link{
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
  font-weight: 500;
}

nav a:hover {
  color: #f4c682;
}
nav Link:hover{color: #f4c682;}
nav a:first-child {
  font-size: 20px;
  font-weight: bold;
}

.container {
  padding: 30px;
}
h1{text-align: center;}
h2,h3 {
  margin-bottom: 20px;
}

button {
  background-color: #2563eb;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
}

button:hover {
  background-color: #1d4ed8;
}
.form-box sign-up-mode form{
  margin: 0;
}
.form-box form{
  padding: 10px;
  margin-top: 15px;
  border-radius: 10px;
}

input,
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

input:focus {
  outline: none;
  border-color: #2563eb;
}
.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 35px;
}
.product-card {
  background: white;
  border-radius: 10px;
  width: 270px;
  padding: 15px;
  box-shadow: 1px 3px 10px black;
  transition: transform 0.2s ease;
}

.product-card:hover {
  transform: translateY(-5px);
}

.product-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

.product-card h4 {
  font-size: 16px;
  margin-bottom: 5px;
}

.product-card p {
  margin-bottom: 5px;
  font-size: 14px;
  color: #555;
}

.product-card .price {
  font-weight: bold;
  color: #16a34a;
}

.product-actions {
  display: flex;
  justify-content: space-evenly;
  margin: 10px;
}
.product-actions button{
  border-radius: 10px;
  height: 35px;
}
.product-actions button:hover{
  transform:scale(1.1);
}
.product-actions button:nth-child(1){
  background:linear-gradient(120deg ,grey,rgb(247, 247, 85));
  width: 100px;
  box-shadow: 1px 2px 5px black;
  margin-right: 10px;
  font-size: 20px;
}
.product-actions button:nth-child(2){
  background:linear-gradient(120deg ,grey,rgb(247, 247, 85));
  width: 100px;
  box-shadow: 1px 2px 5px black;
}
.cart-item {
  background: white;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
  display: flex;
  gap: 20px;
  box-shadow: 1px 2px 10px black;
  align-items: center;
}

.cart-total {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
  text-align: right;
}

.filters {
  display: flex;
  gap: 15px;
  margin-bottom: 25px;
}

.filters select,
.filters input {
  max-width: 200px;
}

a {
  color: #2563eb;
}

a:hover {
  text-decoration: underline;
}

.empty{
  text-align: center;
  margin-top: 50px;
  color: #777;
}
.about{text-align: center;margin-top: 50px;}
.about h2{color: #16a34a;}
.hero {
  height: 50vh;
  background: url("https://i.imgur.com/3oXNBst.jpeg")
    center/cover no-repeat;
  position: relative;
}

.hero-overlay {
  
  
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 10px;
}

.hero p {
  font-size: 18px;
  margin-bottom: 30px;
}

.search-bar {
  display: flex;
  background: white;
  padding: 5px;
  border-radius: 20px;
  gap: 10px;
  width: 80%;
}

.search-bar input,
.search-bar select {
  flex: 1;
  border: none;
  padding: 8px;

}

.search-bar button {
  background: #2563eb;
  color: white;
  border-radius: 10px;
  width: 80px;
}

.section {
  margin-top: 100px;
  padding: 60px 80px;
  text-align: center;
  background-color: white;
}

.section h2 {
  background-color: white;
  margin-bottom: 40px;
  font-size: 32px;
}
.cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}
.us h2{text-align: center;}
.us {
  background: #f1f5f9;
  padding: 60px 80px;
  display: grid;
}

.card {
  background: white;
  padding: 30px;
  border-radius: 12px;
  text-align: center;
  font-weight: 600;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}
.category-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}
.qty-controls {
  display: flex;
  align-items: center;
  gap: 10px;
}

.qty-controls button {
  padding: 5px;
}

.delete-btn {
  background-color: red;
  color: white;
}
.delete-btn:hover{
  background-color: white;
  color: red;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 500px;
  width: 90%;
  position: relative;
}
.add-card{background-color: white;}
.form-box {
  width: 800px;
  max-width: 90%;
  height: 500px;
  background: #fff;
  border-radius: 20px;
  display: flex;
  overflow: hidden;
  box-shadow: 1px 15px 20px rgba(0,0,0,0.2);
  transition: all 0.6s ease;
  margin: 110px auto;
  position: relative;
  padding: 0;
}

.form-box.sign-up-mode {
  transform: translateX(-50%);
}

.form-content{
  position: absolute;
  top: 60px;
  left: 0;
  width: 50%;
  height: 400px;
  padding: 30px;
  flex-direction: column;
  justify-content: center;
}
.form-content h2{text-align: center;}
.icon{display: flex;gap: 20px;}
.icon div{
  border:1px solid black;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 1px 2px 3px black;
  color: rgb(91, 174, 238);
}
.title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 30px;
}

.input-box {
  position: relative;
  margin-bottom: 20px;
}

.input-box input {
  width: 100%;
  padding: 10px 15px;
  background: #f0f0f0;
  border: none;
  border-radius: 5px;
  outline: none;
  transition: all 0.3s ease;
}

.input-box input:focus {
  background: #e1e1e1;
}

.input-box label {
  position: absolute;
  left: 15px;
  top: 10px;
  pointer-events: none;
  transition: all 0.3s ease;
  color: #999;
}

.input-box input:focus + label,
.input-box input:valid + label {
  top: -10px;
  font-size: 12px;
  color: #555;
}

.btn {
  width: 100%;
  padding: 10px;
  background: linear-gradient(20deg, #8d8d8e, #dedb89);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  margin-top: 10px;
  transition: all 0.3s ease;
}

.btn:hover {
  background: linear-gradient(20deg, #dedb89,#8d8d8e,#dedb89);
}

.animation {
  animation: fadeIn 0.5s ease forwards;
  animation-delay: calc(var(--i) * 0.05s + var(--j) * 0.05s);
  opacity: 0;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}
.my{
  padding-top: 150px;
  text-align: center;
  color: white;
  position: absolute;
  width: 375px;
  height: 500px;
  top: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(135deg,#dedb89, #8d8d8e, #dedb89);
  border-radius: 30% 20px 20px 30%;
  transition: all 0.6s ease;}
.my-retour{
  padding-top: 150px;
  text-align: center;
  color: white;
  position: absolute;
  width: 370px;
  height: 500px;
  left: 0;
  background: linear-gradient(135deg,#dedb89, #8d8d8e, #dedb89);
  border-radius: 20px  30% 30% 20px ;
  transition: all 0.6s ease;
}
.form-retour{
  position: absolute;
  right: 0;
  width: 50%;
  height: 100px;
  padding: 30px;
  flex-direction: column;
  justify-content: center;
}
.form-box.sign-up-mode::before {
  right: 50%;
}
.my button,.my-retour button{
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid white;
  border-radius: 20px;
  width: 150px;
  box-shadow: 1px 5px 10px black;
  margin-right: 10px;
  font-size: 18px;
  height: 40px;
  padding: 0;
  margin-top: 30px;
}
.my button:hover{
  transform: scale(1.1);
}
.my button a,.my-retour button a{
  margin-bottom: 10px;
  text-decoration: none;
  color: white;
}
.logo strong{
  font-size: 60px;
  text-shadow:2px 5px 5px yellow,2px 10px 10px black;
}
.logo h1{
  color: rgb(64, 62, 62);
  text-shadow: 1px 2px 3px rgb(250, 237, 63) ,2px 10px 10px black;
}
footer{
  background-color: gray;
  height: 400px;
  display: flex;
  justify-content: center;
  color: white;
  padding-top: 50px;
}
footer>div{
  margin: 30px;
  width: 600px;
  text-align: center;
}
.foter div{
  color: black;
  
}
.pagination {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin: 20px 0;
}

.pagination button {
  padding: 6px 12px;
  border: none;
  background: #a29c9c;
  cursor: pointer;
}

.pagination button.active {
  background: #000;
  color: #fff;
}

.pagination button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
